body {
  margin-top: 2%;
  font-family: "Open Sans", sans-serif;
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}
.ui .checkbox label {
  width: 130px;
}
.fullWidth {
  width: 100%;
}
.input {
  width: 100%
}

.black {
  color: black;
}

#balance {
  color: black;
}
.container {
  padding: 0.5em;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
